<!-- <h1>*ngFor Objs</h1>
<div class="product--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="imagen">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr/>
<h1>*ngFor</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="newName" />
<button (click)="addName()" >Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of emojis; index as i">
    {{i}} {{ name }}
    <button (click)="deleteEmoji(i)" >Delete</button>
  </li>
  <li *ngIf="emojis.length === 0">No hay emojis</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)" >Delete</button>
  </li>
</ul>
<hr/>
<h1>*ngIf</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p *ngIf="person.name === 'jesus' && person.age === 41; else myBlock">Soy Jesús</p>
<p *ngIf="person.name === 'julian'">Soy Julian</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
<hr/>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age {{ person.age }}</p>
<input type="number" max="41" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>
<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)" >
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sunt fugiat incidunt! Impedit, possimus perferendis? Officia, soluta assumenda nobis totam iusto impedit perferendis deserunt fugit vero error, quasi obcaecati iure.</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name" />
<progress max="100" [value]="person.age"></progress>

<hr/>
<h3>Hola soy {{name}} y tengo {{age}} años</h3>
<hr/>
<h3>Mujer Bonita</h3>
<img width="250px" src={{imgBonita}} /> -->
<app-nav></app-nav>
<router-outlet></router-outlet>
